xml/mutexesis.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="fullName"/>
                            <xs:element type="xs:string" name="addressDescription"/>
                            <xs:element type="xs:string" name="phone1"/>
                            <xs:element type="xs:string" name="activityname"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:short" name="id"/>
                                        <xs:element type="xs:string" name="fullName"/>
                                        <xs:element type="xs:string" name="addressDescription"/>
                                        <xs:element type="xs:string" name="phone1" minOccurs="0"/>
                                        <xs:element type="xs:string" name="activityname"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>